<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link type="text/css" rel="stylesheet" href="http://redu.help.production.content.s3.amazonaws.com/reports-validation/treemap-style.css"/>
    <link type="text/css" rel="stylesheet" href="http://redu.help.production.content.s3.amazonaws.com/reports-validation/tipTip.css"/>
    <script type="text/javascript" src="http://redu.help.production.content.s3.amazonaws.com/reports-validation/d3.v2.min.js"></script>
    <script type="text/javascript" src="http://redu.help.production.content.s3.amazonaws.com/reports-validation/jquery.min.js"></script>
    <script type="text/javascript" src="http://redu.help.production.content.s3.amazonaws.com/reports-validation/jquery.tipTip.minified.js"></script>
    <style type="text/css">
      .chart {
        display: block;
        margin: auto;
        margin-top: 40px;
      }

      text {
        font-size: 11px;
      }

      rect {
        fill: none;
      }
    </style>
  </head>
  <body>
    <div id="body">
    </div>
    <script type="text/javascript" src="http://redu.help.production.content.s3.amazonaws.com/reports-validation/treemap-zoom.js"></script>
  </body>
</html>
